@page "/"
@using Core.Interfaces.Data
@using Core.Entities
@inject IUnitOfWork unitOfWork

<PageTitle>Notes</PageTitle>
<div class="index-head">
<ul>
    <li><a href="/create"><button>Create note</button></a></li>
    <li><input type="text" @bind="SearchValue" placeholder="Enter notes name"/></li>
</ul>
</div>
<h1>Products list</h1>
@SearchValue
<table class="table">
    <tbody>
        @foreach (var item in GetNotes(SearchValue))
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.CreationTime
                </td>
            </tr>
        }
    </tbody>
</table>
@code{
    IEnumerable<Note> notes;
    
    public string? SearchValue { get; set; }

    public IEnumerable<Note> GetNotes(string? name = "")
    {
        if (string.IsNullOrWhiteSpace(name))
            return unitOfWork.NotesRepository.GetAllNotes();
        return unitOfWork.NotesRepository.GetNotesByNameOrDescription(name);
    }


}
