@using Infrastructure.Services
@inherits LayoutComponentBase
@inject NotFoundListener NotFoundListener 
<PageTitle>Web</PageTitle>

<div class="page">
    <main>
        @if (notFound)
        {
            <h1>Could not find the content you are looking for</h1>
        }else
        {
            @Body
        }
    </main>
</div>
@code{
    private bool notFound;

    protected override void OnInitialized() => NotFoundListener.OnNotFound += SetNotFound;

    void SetNotFound()
    {
        notFound = true;
        StateHasChanged();
    }

}