@page "/edit/{id:int}"
@inherits EditNoteBase
@if (Note != null)
{
    <h3>Edit information about note</h3>
    <hr/>
    <div class="row center">
        <div class="col-md-4">
            <EditForm Model=@Note OnValidSubmit="Update">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <label for="Title" class="control-label">Title</label>
                    <input @bind=Note.Title class="form-control" name="Title" id="Title"/>
                    <ValidationMessage For=@(() => Note.Title)/>
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <textarea @bind="Note.Description"  class="form-control" id="Description" > </textarea>
                    <ValidationMessage For=@(() => Note.Description)/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </EditForm>
        </div>
    </div>

    <div>
        <a href="/">Back to List</a>
    </div>
}
