@page "/"
@using Core.Enums
@inherits IndexBase;

<PageTitle>Notes</PageTitle>
<div class="index-head">
    <ul>
        <li><a href="/create"><button>Create note</button></a></li>
        <li><input id="name" type="text" @bind="SearchValue" placeholder="Enter notes name" @bind:after="GetNotes"/></li>
    </ul>
    <select @bind="SortOrder" @bind:after="OrderNotes">
        @foreach (var value in Enum.GetValues<NotesSortOrder>())
        {
            <option value="@value">@value</option>
        }
    </select>
</div>
<h1>Products list</h1>
<table class="table">
    <tbody>
    @foreach (var item in Notes)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.CreationTime
            </td>
            <td>
                <a href="/view/@item.Id"><button>View Note</button></a>
            </td>
            <td>
                <a href="/edit/@item.Id"><button>Edit Note</button></a>
            </td>
            <td>
                <button @onclick="() => {ShowDeletionWindow = true; NoteToDelete = item.Id;}">Delete Note</button>
            </td>
        </tr>
    }
    
    </tbody>
</table>
@if (ShowDeletionWindow)
{
    <DeleteConfiirmation NoteId="NoteToDelete"></DeleteConfiirmation>
}