@page "/"
@using Core.Enums
@inherits IndexBase;

<PageTitle>Notes</PageTitle>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Notes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/create">Create note</a>
                </li>
                <li class="nav-item">
                    <select class="form-select" style="width: 15vw" @bind="SortOrder" @bind:after="OrderNotes">
                        @foreach (var value in Enum.GetValues<NotesSortOrder>())
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </li>
            </ul>
            <div class="d-flex">
                <input class="form-control me-2" @bind="SearchValue" @bind:after="GetNotes" type="text" placeholder="Search notes">
                <button class="btn btn-outline-success" type="submit" @onclick="GetNotes">Search</button>
           </div>
        </div>
    </div>
</nav>

<h1>Notes list</h1>
<table class="table">
    <tbody>
    @foreach (var item in Notes)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.CreationTime
            </td>
            <td>
                <a href="/view/@item.Id"><button>View Note</button></a>
            </td>
            <td>
                <a href="/edit/@item.Id"><button>Edit Note</button></a>
            </td>
            <td>
                <button @onclick="() => {ShowDeletionWindow = true; NoteToDelete = item.Id;}">Delete Note</button>
            </td>
        </tr>
    }
    
    </tbody>
</table>